body{
	background-color: #f5f5f5;
}
/* li{
	list-style: none;
	float: left;
} */
#top{
	position: fixed;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* z-index: -1; */
}
#top img{
	height: 100%;
	width: 100%;
	border: 0;
}
#hoder{
	width: 1066px;
    height: 715px;
    background: url(images/ry.png) no-repeat 94px 154px;
	margin: 0 auto;
    position: relative;
   
	
}
#hoder-con{
	text-align: center;
	width: 337px;
	height: 540px;
	position: absolute;
	background-color:ghostwhite;
	top:203px ;
	right: 30px;
	overflow: hidden;
}
#hoder-con img{
	margin-top: 42px;
}
#hoder-con .one{
	color: #ff9000;
	font-size: 19px;
}
#hoder-con .three img{
	
	margin-top: 35px;
}
#hoder-con .two{
	color:#999999;
}
#username{
	margin-top: 30px;
}
#username,#password{
	width: 285px;
	height: 42px;
	padding-left: 11px;
	border-radius: 3px;
	border: 1px solid #999999;
}
.nikin{
	color: #bbbbbb;
	margin-top: 25px;
	margin-bottom: 20px;
}
.nikin #kin{
	padding-left: 90px;
}
#login{
	width: 280px;
	height: 46px;
	font-size: 18px;
	background-color: #ff9b19;
	border: none;
	color: white;
	border-radius: 3px;
	/* margin-bottom: 20px; */
}
a{
	color: #ff9000;
}
.nfn
{
	color: #666666;
}
